<title><%= tagline %></title>

<link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css"> <!-- load bootstrap css -->
<link rel="stylesheet" href="/static/bower_components/components-font-awesome/css/font-awesome.min.css"> <!-- load fontawesome -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    body        { padding-top:80px; }
</style>